:root {
  //css variables go here
  --color-primary-1: #3498db;
  --color-primary-2: #2980b9;
  --color-secondary-1: #e74c3c;
  --color-secondary-2: #c0392b;
}

//scss variables go here

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /// 1rem = 10px
}

body {
  font-family: 'Fira Sans';
  font-weight: 300;
  padding: 2rem;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
