:root {
  //css variables go here
  --color-primary-1: #0250c5;
  --color-primary-2: #2980b9;
  --color-secondary-1: #e74c3c;
  --color-secondary-2: #c0392b;
}

//scss variables go here

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /// 1rem = 10px
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content }; //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content }; //1200px
  }
  @if $breakpoint == desktop {
    @media (min-width: 112.5em) { @content }; //1800px
  }
}
