.container {
  position: absolute;
  top:0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.main {
  font-size: 3rem;
}

.footer {
  position: relative;
  display: block;
  background-color: red;
}