.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  box-shadow: 0 3rem 20rem rgba(0, 78, 98, .3);
  height: 100rem;

  @include respond(phone) {
    height: 72rem;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.footer {
  background-color: #eee;
  font-size: 3rem;
  font-weight: 100;
}