@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400");
:root {
  --color-primary-1: #0250c5;
  --color-primary-2: #2980b9;
  --color-secondary-1: #e74c3c;
  --color-secondary-2: #c0392b; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  box-shadow: 0 3rem 20rem rgba(0, 78, 98, 0.3);
  height: 100rem; }
  @media (max-width: 37.5em) {
    .header {
      height: 60rem; } }

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 66.25em) {
    .main {
      flex-wrap: nowrap;
      flex-direction: column; } }

.footer {
  background-color: #eee;
  font-size: 3rem;
  font-weight: 100; }

.nav {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 37.5em) {
    .nav {
      justify-content: center; } }
  .nav__group {
    align-self: flex-end;
    list-style-type: none;
    display: flex; }
  .nav__item {
    padding: 0 1rem;
    transform: translateY(1rem); }
  .nav__link {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #eee; }
    @media (max-width: 37.5em) {
      .nav__link {
        font-size: 1.7rem; } }
  .nav__link:after {
    display: block;
    content: '';
    border-bottom: 3px solid #eee;
    margin-top: 1rem;
    transform: scaleX(0);
    transition: transform .2s ease-in-out; }
  .nav__link:hover:after {
    transform: scaleX(1);
    transform-origin: center; }

.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  font-weight: 100;
  color: #eee;
  padding: 2rem;
  margin-bottom: 30rem;
  margin-top: 15rem; }
  @media (max-width: 37.5em) {
    .heading {
      font-size: 2.5rem;
      margin-top: 0;
      margin-bottom: 5rem; } }

.logo-box {
  align-self: center;
  margin-bottom: 2rem; }
  .logo-box__img {
    border-radius: 50%;
    height: 30rem;
    box-shadow: 0 5rem 15rem rgba(0, 0, 0, 0.3); }
    @media (max-width: 37.5em) {
      .logo-box__img {
        height: 20rem;
        margin-top: 0; } }

.education {
  width: 100%;
  padding: 4rem 8rem;
  background-color: #22313F;
  color: white; }
  @media (max-width: 37.5em) {
    .education {
      padding: 4rem; } }
  .education__group {
    display: flex;
    flex-direction: column; }
  .education__img {
    width: 25rem;
    margin-top: 4rem; }
  .education__title {
    font-size: 5rem;
    font-weight: 100; }
  .education__school {
    font-size: 3rem;
    font-weight: 100;
    margin-top: 4rem; }
  .education__degree {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 100; }

.skills {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 100;
  flex-grow: 1;
  background-color: #3A539B;
  color: white; }
  .skills__group {
    padding: 4rem 8rem; }
    @media (max-width: 66.25em) {
      .skills__group {
        text-align: center; } }
    @media (max-width: 37.5em) {
      .skills__group {
        padding: 4rem; } }
  .skills__title {
    font-size: 5rem; }
  .skills__item {
    font-size: 2rem;
    margin-left: 2rem; }
  .skills__item:last-child {
    margin-bottom: 4rem; }
    @media (max-width: 66.25em) {
      .skills__item:last-child {
        margin-bottom: 2rem; } }
  .skills__title--frontend {
    font-size: 3rem;
    padding-bottom: 1rem;
    margin-top: 4rem; }
  .skills__title--backend {
    font-size: 3rem;
    padding: 1rem 0; }

.projects {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 100;
  flex-grow: 3;
  background-color: #3A539B;
  color: white; }
  .projects__title {
    font-size: 5rem;
    padding: 4rem 1.6rem; }
    @media (max-width: 66.25em) {
      .projects__title {
        text-align: center; } }
    @media (max-width: 37.5em) {
      .projects__title {
        padding: 4rem 2rem; } }
  .projects__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem; }
  .projects__item {
    align-self: flex-start;
    margin: 2rem auto; }
    @media (max-width: 66.25em) {
      .projects__item {
        padding: 0 2rem;
        align-self: center;
        margin-bottom: 2rem; } }
  .projects__info {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 3rem;
    text-align: center;
    background-color: #22313F;
    padding: 2%; }
    .projects__info a, .projects__info a:active, .projects__info a:link, .projects__info a:hover, .projects__info a:visited {
      display: block;
      color: inherit;
      text-decoration: none;
      background-color: #19B5FE;
      margin: 1rem auto; }
  .projects__img {
    position: relative; }
  .projects__img > img {
    width: 100%;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    max-height: 45rem;
    transition: all .2s ease-in-out;
    backface-visibility: hidden; }

.contact {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-color: #4B77BE;
  font-weight: 100;
  color: white;
  padding: 4rem 4rem; }
  .contact__title {
    font-size: 5rem;
    text-align: center; }

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .form__element {
    display: block;
    border: none;
    width: 70%;
    padding: 2rem;
    margin: 2rem auto;
    font-size: 2rem;
    box-shadow: 0 4rem 5rem rgba(0, 0, 0, 0.3);
    resize: none;
    font-family: inherit; }
    @media (max-width: 37.5em) {
      .form__element {
        width: 100%; } }
  .form__submit {
    border: none;
    padding: 2rem 0;
    width: 70%;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 100;
    background-color: #19B5FE;
    color: white;
    transition: transform .2s ease-in-out;
    border-radius: 0; }
    @media (max-width: 37.5em) {
      .form__submit {
        width: 100%; } }
  .form__submit:active {
    transform: translateY(2px); }
