@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400");
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  height: 100%;
  width: 100%;
  padding: 2rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main {
  font-size: 6rem; }

.footer {
  position: relative; }

:root {
  --color-primary-1: #0250c5;
  --color-primary-2: #2980b9;
  --color-secondary-1: #e74c3c;
  --color-secondary-2: #c0392b; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Fira Sans';
  font-weight: 300;
  box-sizing: border-box; }

.nav__group {
  list-style-type: none; }

.nav__item {
  display: inline-block;
  padding: 0 1rem;
  transform: translateY(1rem); }

.nav__link {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--color-primary-2); }

.nav__link:after {
  display: block;
  content: '';
  border-bottom: 3px solid #eee;
  margin-top: 1rem;
  transform: scaleX(0);
  transition: transform .2s ease-in-out; }

.nav__link:hover:after {
  transform: scaleX(1);
  transform-origin: center; }

.logo-box__text {
  font-size: 6rem;
  font-weight: 100; }
